.card {
  width: 200px;
  height: 240px;

  color: white;
  background-color: #412062;
  opacity: 0.8;

  border-radius: 8px;
  padding: 24px 26px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: scale(1.03);
  opacity: 1;
}

.card h1 {
  font-size: 22px;
  margin-top: 16px;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /*coloca o reticencias na parte do texto que não aparece*/
  text-align: center;
}
